			
<style type="text/css">
p{
	color: #3D7489;
}
.azul_claro{
	color:#3D7489;
}
.anaranjado{
	color: #E36F26;
}
.titulo{
    background-color:#B6D6E2;
    color:#3D7489;
    font-size: 2em;
    text-align: center;
}
#editar_basica{
	width: 100%;
	height: 500px;
}
#imagen{
	float: left;
	width: 20%;
	height: 200px;
	text-align: center;
}
#imagen img{
	border-radius: 7px;
	border: 5px solid;
}
#formulario{
	width: 100%;
	text-align: center;

}
#formulario input{
	width: 50%;
}
#formulario textarea{
	width: 50%;
}
#formulario label{
	font-size: 15px;
}
.burbuja{
	width: 80%;
	height: 100px;
	border: 1px solid;
	margin-left: 10%;
	margin-bottom: 10px;
}
.burbuja p{
	text-align: center;
	font-size: 25px;
	margin-top: 20px;
}
.burbuja span{
	position: relative;
	float: right;
	right: 2%;
	top: -11px;
	font-weight: bold;
	color: #CC3333;
}
.coma{
	color: #CC3333;
    font-size: 45px;
}
.publico{
	font-size: 25px;
}
input[type=checkbox] {display: none;}
input[type="checkbox"] + label { 
	background: #fff; 
	display: inline-block; 
	width: 82px; 
	height: 24px; 
	background: url('/media/images/check_01.png') 0px 0px no-repeat; 
	text-indent: -1000em; 
}

input[type="checkbox"]:checked + label{ background: url('/media/images/check_01.png') 0px -24px no-repeat;}
</style>



	<div id="editar_basica">
			
		<div id="formulario">
			<fieldset id="field">
			<form action="/editar/informacion/medico/{{doctor.id}}" method="POST" id="form_perfil">
				{%csrf_token%}
				{%if form.errors%}
				<p>Hubo problemas en algunos campos, por favor revize cada campo y corriga los errores.</p>
				{%endif%}
				<h1 class="titulo">Imagen de perfil</h1>
				<p>Sube una imagen para tu perfil.</p>
				{%if form.photo.errors%}
					<p>Hubo un problema con este campo.</p>
				{%endif%}
					{{form.photo}}
					<br/>
				<h1 class="titulo">Email</h1>
				<p>Introduce un correo electronico.</p>
				{%if form.email.errors%}
					<p>El correo que ha introducido ya existe, porfavor utilice otro</p>
				{%endif%}
					{{form.email}}
				<h1 class="titulo">Contraseñas</h1>
				<input type="button" value="Cambiar contraseña" id="cambiar_clave" class="blue"/> 
				<h1 class="titulo">Guardar datos</h1>
				<input type="submit" value="Guardar"/>
			</form>
		</div>
		</fieldset>

</div>
	
<script type="text/javascript">
 $('#form_perfil').submit(function(ev) { // catch the form's submit event
            ev.preventDefault();
            $.ajax({ // create an AJAX call...
                data: $(this).serialize(), // get the form data
                type: $(this).attr('method'), // GET or POST
                url: $(this).attr('action'), // the file to call
                success: function(response) { // on success..
                    $('#mostrar_info_perfil').html(response);
                }
            });
            return false;
        });

</script>
